#banner
	.banner_content
		%h1 DocuStore
		%p Giving you the power to write and keep track of your notes
		%button= link_to "Sign-In", new_user_registration_path

#callouts 
	.callout_inner
		.wrapper
			.callout
				%br
				%br
				%h2 Get Organized Today
				%br
					%button= link_to "Join now", new_user_registration_path
					

#bottom_cta
	.wrapper
		%p Have access to your notes, from anywhere  
		