#banner
	.banner_content
		%h1 DocuStore
		%p Have access to your documents, from anywhere.
		%button= link_to "Enter", new_user_registration_path

#callouts 
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Lorem ipsum dolor amet quinoa typewriter fixie jean shorts, blog master cleanse shaman small batch pabst. Tumeric poke etsy normcore church-key iPhone gochujang truffaut brooklyn pork belly hashtag humblebrag. 

#bottom_cta
	.wrapper
		%h2 Start keeping track of all your important documents today! 
		%br
			%button= link_to "Join now", new_user_registration_path